[submodule "com.unity.webrtc"]
	path = com.unity.webrtc
	url = https://github.com/Unity-Technologies/com.unity.webrtc.git
[submodule "UnityRenderStreaming"]
	path = UnityRenderStreaming
	url = https://github.com/Unity-Technologies/UnityRenderStreaming.git
